html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: unset;
  padding: 1.5rem 4rem;
  background-color: #ff5722;
  margin: 1rem auto;
  font-size: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-style: ridge;
}

.btn-red {
  background-color: #ff5722;
  color: white;
}

.btn-red::after {
  background-color: #ff5722;
  color: white;
}

.btn:hover {
  -webkit-transform: translate(-10px, 10px);
  transform: translate(-10px, 10px);
  -webkit-box-shadow: 20px 0 20px rgba(0, 0, 0, 0.6);
  box-shadow: 20px 0 20px rgba(0, 0, 0, 0.6);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover::after {
  -webkit-transform: translate(-1);
  transform: translate(-1);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translate(-1);
  transform: translate(-1);
  -webkit-transform: scaleX(1.5) scaleY(1.5);
  transform: scaleX(1.5) scaleY(1.5);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ssc {
  height: 20rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  padding: 5rem;
}

.ssc:hover {
  border-radius: 25%;
  -webkit-filter: saturate(125%);
  filter: saturate(125%);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.text-effect {
  background-image: url(media/gradient.jpg);
  background-position: bottom 50%;
  color: transparent;
  font-size: 4rem;
  -webkit-background-clip: text;
  font-style: oblique;
  text-transform: uppercase;
  -webkit-transition: all 0.3s all;
  transition: all 0.3s all;
}

.text-effect:hover {
  -webkit-transform: scale(2, 2);
  transform: scale(2, 2);
  letter-spacing: 3rem;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.car-parent {
  width: 60rem;
  height: 40rem;
  padding-top: 10%;
}

.car-gallery {
  margin: 3rem;
  position: relative;
}

.car-photo {
  position: absolute;
  height: 20rem;
  -webkit-box-shadow: 0 1.5rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 1.5rem rgba(0, 0, 0, 0.4);
  outline-offset: 1rem;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.car-photo:hover {
  -webkit-transform: skew(15deg);
  transform: skew(15deg);
  -webkit-box-shadow: 0 3rem 1rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 3rem 1rem rgba(0, 0, 0, 0.4);
  outline: 1rem dotted #00b0ff;
  z-index: 2;
  border-radius: 80%;
}

.car-gallery:hover .car-photo:not(:hover) {
  -webkit-transform: scale(0.66) skew(-10deg);
  transform: scale(0.66) skew(-10deg);
  opacity: 0.5;
}

.car-photo-1 {
  top: 10rem;
  left: 15%;
}

.car-photo-2 {
  top: 2rem;
  right: 0;
}

.car-photo-3 {
  top: -2rem;
  left: 0;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.speed {
  height: 30rem;
  position: relative;
}

.speed-picture {
  height: 30rem;
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.speed-header {
  font-size: 3rem;
  opacity: 0;
  color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.speed:hover .speed-picture {
  -webkit-filter: saturate(166%);
  filter: saturate(166%);
}

.speed:hover .speed-header {
  opacity: 1;
  top: 50%;
}

.container {
  width: 80vw;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */
